discord_bot.json
{
  "nodes": [
    {
      "parameters": {
        "guildIds": [
          "1483760986199687168"
        ],
        "channelIds": [
          "1483760987000668213",
          "1484106463440928898"
        ],
        "value": "/anime",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "91191b63-f3e1-4f28-b69a-ab9068906e90",
      "name": "Discord Trigger",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "IULFckuyWIi0AdQh",
          "name": "Discord Bot Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const list_anime = [\n  {\n    \"Titre\": \"Fullmetal Alchemist: Brotherhood\",\n    \"Animation\": \"80.3\",\n    \"Storytelling\": \"71.9\",\n    \"OST\": \"71.9\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"100\",\n    \"Favoris\": \"96.6\",\n    \"Total\": \"82.95\"\n  },\n  {\n    \"Titre\": \"Hunter x Hunter (2011)\",\n    \"Animation\": \"78.7\",\n    \"Storytelling\": \"73.7\",\n    \"OST\": \"73.7\",\n    \"Rythme\": \"65\",\n    \"Popularité\": \"99.9\",\n    \"Favoris\": \"91.3\",\n    \"Total\": \"81.03\"\n  },\n  {\n    \"Titre\": \"Steins;Gate\",\n    \"Animation\": \"79\",\n    \"Storytelling\": \"71\",\n    \"OST\": \"71\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.9\",\n    \"Favoris\": \"80.6\",\n    \"Total\": \"80.77\"\n  },\n  {\n    \"Titre\": \"Death Note\",\n    \"Animation\": \"78.2\",\n    \"Storytelling\": \"72.7\",\n    \"OST\": \"72.7\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"100\",\n    \"Favoris\": \"74\",\n    \"Total\": \"80.28\"\n  },\n  {\n    \"Titre\": \"One Piece\",\n    \"Animation\": \"81.9\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.8\",\n    \"Favoris\": \"100\",\n    \"Total\": \"78.5\"\n  },\n  {\n    \"Titre\": \"Code Geass: Hangyaku no Lelouch R2\",\n    \"Animation\": \"79.4\",\n    \"Storytelling\": \"75.5\",\n    \"OST\": \"75.5\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.5\",\n    \"Favoris\": \"32.4\",\n    \"Total\": \"75.09\"\n  },\n  {\n    \"Titre\": \"Cowboy Bebop\",\n    \"Animation\": \"82.4\",\n    \"Storytelling\": \"72.1\",\n    \"OST\": \"72.1\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"99.6\",\n    \"Favoris\": \"35.7\",\n    \"Total\": \"74.12\"\n  },\n  {\n    \"Titre\": \"Koe no Katachi\",\n    \"Animation\": \"75.2\",\n    \"Storytelling\": \"70.8\",\n    \"OST\": \"70.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.8\",\n    \"Favoris\": \"38.3\",\n    \"Total\": \"73.77\"\n  },\n  {\n    \"Titre\": \"Clannad: After Story\",\n    \"Animation\": \"79.5\",\n    \"Storytelling\": \"73.2\",\n    \"OST\": \"73.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"98.8\",\n    \"Favoris\": \"29.5\",\n    \"Total\": \"73.73\"\n  },\n  {\n    \"Titre\": \"Kimi no Na wa.\",\n    \"Animation\": \"74.4\",\n    \"Storytelling\": \"70.8\",\n    \"OST\": \"70.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.9\",\n    \"Favoris\": \"38.1\",\n    \"Total\": \"73.64\"\n  },\n  {\n    \"Titre\": \"Tengen Toppa Gurren Lagann\",\n    \"Animation\": \"77.9\",\n    \"Storytelling\": \"70.4\",\n    \"OST\": \"70.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.3\",\n    \"Favoris\": \"33.9\",\n    \"Total\": \"73.27\"\n  },\n  {\n    \"Titre\": \"Shigatsu wa Kimi no Uso\",\n    \"Animation\": \"74.3\",\n    \"Storytelling\": \"72.1\",\n    \"OST\": \"72.1\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"99.8\",\n    \"Favoris\": \"35.9\",\n    \"Total\": \"72.98\"\n  },\n  {\n    \"Titre\": \"Haikyuu!!\",\n    \"Animation\": \"72.9\",\n    \"Storytelling\": \"72.2\",\n    \"OST\": \"72.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.6\",\n    \"Favoris\": \"31.3\",\n    \"Total\": \"72.82\"\n  },\n  {\n    \"Titre\": \"One Punch Man\",\n    \"Animation\": \"72.6\",\n    \"Storytelling\": \"72.8\",\n    \"OST\": \"72.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"100\",\n    \"Favoris\": \"26.6\",\n    \"Total\": \"72.36\"\n  },\n  {\n    \"Titre\": \"Made in Abyss\",\n    \"Animation\": \"72.4\",\n    \"Storytelling\": \"75.7\",\n    \"OST\": \"75.7\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.1\",\n    \"Favoris\": \"19.1\",\n    \"Total\": \"72.04\"\n  },\n  {\n    \"Titre\": \"Howl no Ugoku Shiro\",\n    \"Animation\": \"79.5\",\n    \"Storytelling\": \"75.1\",\n    \"OST\": \"75.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99\",\n    \"Favoris\": \"12.7\",\n    \"Total\": \"71.92\"\n  },\n  {\n    \"Titre\": \"Mahou Shoujo Madoka★Magica\",\n    \"Animation\": \"74.2\",\n    \"Storytelling\": \"72.5\",\n    \"OST\": \"72.5\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99\",\n    \"Favoris\": \"24\",\n    \"Total\": \"71.91\"\n  },\n  {\n    \"Titre\": \"Shingeki no Kyojin Season 3 Part 2\",\n    \"Animation\": \"73.9\",\n    \"Storytelling\": \"73.5\",\n    \"OST\": \"73.5\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"99.8\",\n    \"Favoris\": \"25.2\",\n    \"Total\": \"71.8\"\n  },\n  {\n    \"Titre\": \"Monster\",\n    \"Animation\": \"81\",\n    \"Storytelling\": \"70.9\",\n    \"OST\": \"70.9\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"98.8\",\n    \"Favoris\": \"24.6\",\n    \"Total\": \"71.67\"\n  },\n  {\n    \"Titre\": \"Violet Evergarden\",\n    \"Animation\": \"72.1\",\n    \"Storytelling\": \"70.8\",\n    \"OST\": \"70.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.5\",\n    \"Favoris\": \"27.5\",\n    \"Total\": \"71.62\"\n  },\n  {\n    \"Titre\": \"Sousou no Frieren\",\n    \"Animation\": \"71.9\",\n    \"Storytelling\": \"67.3\",\n    \"OST\": \"67.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"98.9\",\n    \"Favoris\": \"34.6\",\n    \"Total\": \"71.31\"\n  },\n  {\n    \"Titre\": \"Mononoke Hime\",\n    \"Animation\": \"82.2\",\n    \"Storytelling\": \"73.5\",\n    \"OST\": \"73.5\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"98.9\",\n    \"Favoris\": \"9.7\",\n    \"Total\": \"71.29\"\n  },\n  {\n    \"Titre\": \"Mob Psycho 100\",\n    \"Animation\": \"72.1\",\n    \"Storytelling\": \"71.8\",\n    \"OST\": \"71.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.7\",\n    \"Favoris\": \"21.7\",\n    \"Total\": \"71.14\"\n  },\n  {\n    \"Titre\": \"Sen to Chihiro no Kamikakushi\",\n    \"Animation\": \"81.4\",\n    \"Storytelling\": \"71.1\",\n    \"OST\": \"71.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.6\",\n    \"Favoris\": \"14\",\n    \"Total\": \"71.11\"\n  },\n  {\n    \"Titre\": \"Perfect Blue\",\n    \"Animation\": \"81\",\n    \"Storytelling\": \"74.6\",\n    \"OST\": \"74.6\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"97.3\",\n    \"Favoris\": \"8.7\",\n    \"Total\": \"71.03\"\n  },\n  {\n    \"Titre\": \"Shinseiki Evangelion Movie: Air/Magokoro wo, Kimi ni\",\n    \"Animation\": \"81.5\",\n    \"Storytelling\": \"73.2\",\n    \"OST\": \"73.2\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"98.2\",\n    \"Favoris\": \"12.9\",\n    \"Total\": \"70.67\"\n  },\n  {\n    \"Titre\": \"Chainsaw Man\",\n    \"Animation\": \"67\",\n    \"Storytelling\": \"71.2\",\n    \"OST\": \"71.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.5\",\n    \"Favoris\": \"22.1\",\n    \"Total\": \"70.19\"\n  },\n  {\n    \"Titre\": \"Mob Psycho 100 II\",\n    \"Animation\": \"72\",\n    \"Storytelling\": \"72.5\",\n    \"OST\": \"72.5\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.3\",\n    \"Favoris\": \"13.5\",\n    \"Total\": \"70.06\"\n  },\n  {\n    \"Titre\": \"Yakusoku no Neverland\",\n    \"Animation\": \"69.9\",\n    \"Storytelling\": \"73\",\n    \"OST\": \"73\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.6\",\n    \"Favoris\": \"13.2\",\n    \"Total\": \"69.94\"\n  },\n  {\n    \"Titre\": \"Great Teacher Onizuka\",\n    \"Animation\": \"81.5\",\n    \"Storytelling\": \"69.7\",\n    \"OST\": \"69.7\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"97.8\",\n    \"Favoris\": \"11.5\",\n    \"Total\": \"69.91\"\n  },\n  {\n    \"Titre\": \"Yuu☆Yuu☆Hakusho\",\n    \"Animation\": \"82.5\",\n    \"Storytelling\": \"72.5\",\n    \"OST\": \"72.5\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"96.9\",\n    \"Favoris\": \"9.8\",\n    \"Total\": \"69.85\"\n  },\n  {\n    \"Titre\": \"Haikyuu!! Second Season\",\n    \"Animation\": \"73.6\",\n    \"Storytelling\": \"74\",\n    \"OST\": \"74\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.2\",\n    \"Favoris\": \"6.4\",\n    \"Total\": \"69.74\"\n  },\n  {\n    \"Titre\": \"Fate/Zero 2nd Season\",\n    \"Animation\": \"74.7\",\n    \"Storytelling\": \"75.2\",\n    \"OST\": \"75.2\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"98.6\",\n    \"Favoris\": \"8.3\",\n    \"Total\": \"69.74\"\n  },\n  {\n    \"Titre\": \"Mushishi\",\n    \"Animation\": \"78.9\",\n    \"Storytelling\": \"70.4\",\n    \"OST\": \"70.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"97.8\",\n    \"Favoris\": \"11.3\",\n    \"Total\": \"69.73\"\n  },\n  {\n    \"Titre\": \"Saiki Kusuo no Ψ-nan\",\n    \"Animation\": \"71.5\",\n    \"Storytelling\": \"71.9\",\n    \"OST\": \"71.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"98.7\",\n    \"Favoris\": \"13.5\",\n    \"Total\": \"69.66\"\n  },\n  {\n    \"Titre\": \"Hajime no Ippo\",\n    \"Animation\": \"81.9\",\n    \"Storytelling\": \"74.3\",\n    \"OST\": \"64.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"96.5\",\n    \"Favoris\": \"10\",\n    \"Total\": \"69.59\"\n  },\n  {\n    \"Titre\": \"Samurai Champloo\",\n    \"Animation\": \"78.4\",\n    \"Storytelling\": \"71.5\",\n    \"OST\": \"71.5\",\n    \"Rythme\": \"70\",\n    \"Popularité\": \"98.9\",\n    \"Favoris\": \"16.4\",\n    \"Total\": \"69.52\"\n  },\n  {\n    \"Titre\": \"Ginga Eiyuu Densetsu\",\n    \"Animation\": \"87.8\",\n    \"Storytelling\": \"70.7\",\n    \"OST\": \"70.7\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"92.4\",\n    \"Favoris\": \"7.1\",\n    \"Total\": \"69.46\"\n  },\n  {\n    \"Titre\": \"Hunter x Hunter\",\n    \"Animation\": \"79.8\",\n    \"Storytelling\": \"72.9\",\n    \"OST\": \"72.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"96.2\",\n    \"Favoris\": \"4.9\",\n    \"Total\": \"69.46\"\n  },\n  {\n    \"Titre\": \"JoJo no Kimyou na Bouken Part 5: Ougon no Kaze\",\n    \"Animation\": \"71.4\",\n    \"Storytelling\": \"73.4\",\n    \"OST\": \"73.4\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"98.5\",\n    \"Favoris\": \"14\",\n    \"Total\": \"69.45\"\n  },\n  {\n    \"Titre\": \"Sora yori mo Tooi Basho\",\n    \"Animation\": \"70.8\",\n    \"Storytelling\": \"75.6\",\n    \"OST\": \"75.6\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"95.5\",\n    \"Favoris\": \"5.9\",\n    \"Total\": \"69.07\"\n  },\n  {\n    \"Titre\": \"Gintama°\",\n    \"Animation\": \"76.6\",\n    \"Storytelling\": \"72\",\n    \"OST\": \"72\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"96.5\",\n    \"Favoris\": \"7\",\n    \"Total\": \"69.04\"\n  },\n  {\n    \"Titre\": \"Suzumiya Haruhi no Shoushitsu\",\n    \"Animation\": \"76.1\",\n    \"Storytelling\": \"72.7\",\n    \"OST\": \"72.7\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"96.2\",\n    \"Favoris\": \"5.7\",\n    \"Total\": \"68.95\"\n  },\n  {\n    \"Titre\": \"Spy x Family\",\n    \"Animation\": \"66.9\",\n    \"Storytelling\": \"70\",\n    \"OST\": \"70\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.4\",\n    \"Favoris\": \"16.5\",\n    \"Total\": \"68.89\"\n  },\n  {\n    \"Titre\": \"Violet Evergarden Movie\",\n    \"Animation\": \"71.6\",\n    \"Storytelling\": \"74.8\",\n    \"OST\": \"74.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"96.8\",\n    \"Favoris\": \"3.9\",\n    \"Total\": \"68.86\"\n  },\n  {\n    \"Titre\": \"86 Part 2\",\n    \"Animation\": \"70\",\n    \"Storytelling\": \"74.4\",\n    \"OST\": \"74.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"96.1\",\n    \"Favoris\": \"7.3\",\n    \"Total\": \"68.86\"\n  },\n  {\n    \"Titre\": \"Kaguya-sama wa Kokurasetai? Tensai-tachi no Renai Zunousen\",\n    \"Animation\": \"70.1\",\n    \"Storytelling\": \"72.5\",\n    \"OST\": \"72.5\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99\",\n    \"Favoris\": \"7.6\",\n    \"Total\": \"68.83\"\n  },\n  {\n    \"Titre\": \"Violet Evergarden Gaiden: Eien to Jidou Shuki Ningyou\",\n    \"Animation\": \"69.5\",\n    \"Storytelling\": \"78.2\",\n    \"OST\": \"78.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"94.6\",\n    \"Favoris\": \"0.7\",\n    \"Total\": \"68.82\"\n  },\n  {\n    \"Titre\": \"Nichijou\",\n    \"Animation\": \"74.8\",\n    \"Storytelling\": \"72\",\n    \"OST\": \"72\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"98\",\n    \"Favoris\": \"10.2\",\n    \"Total\": \"68.8\"\n  },\n  {\n    \"Titre\": \"Yojouhan Shinwa Taikei\",\n    \"Animation\": \"75.9\",\n    \"Storytelling\": \"72.2\",\n    \"OST\": \"72.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"94.8\",\n    \"Favoris\": \"7.7\",\n    \"Total\": \"68.77\"\n  },\n  {\n    \"Titre\": \"Ansatsu Kyoushitsu 2nd Season\",\n    \"Animation\": \"71.9\",\n    \"Storytelling\": \"73.7\",\n    \"OST\": \"73.7\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"99.2\",\n    \"Favoris\": \"7.2\",\n    \"Total\": \"68.75\"\n  },\n  {\n    \"Titre\": \"Banana Fish\",\n    \"Animation\": \"70.5\",\n    \"Storytelling\": \"70.3\",\n    \"OST\": \"70.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"98\",\n    \"Favoris\": \"12.8\",\n    \"Total\": \"68.7\"\n  },\n  {\n    \"Titre\": \"Nana\",\n    \"Animation\": \"77.9\",\n    \"Storytelling\": \"71.4\",\n    \"OST\": \"71.4\",\n    \"Rythme\": \"70\",\n    \"Popularité\": \"97\",\n    \"Favoris\": \"14.1\",\n    \"Total\": \"68.69\"\n  },\n  {\n    \"Titre\": \"Ping Pong the Animation\",\n    \"Animation\": \"74.3\",\n    \"Storytelling\": \"73.1\",\n    \"OST\": \"73.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"94\",\n    \"Favoris\": \"7\",\n    \"Total\": \"68.58\"\n  },\n  {\n    \"Titre\": \"Mob Psycho 100 III\",\n    \"Animation\": \"69\",\n    \"Storytelling\": \"76.4\",\n    \"OST\": \"76.4\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"97.4\",\n    \"Favoris\": \"5\",\n    \"Total\": \"68.57\"\n  },\n  {\n    \"Titre\": \"Kenpuu Denki Berserk\",\n    \"Animation\": \"81.8\",\n    \"Storytelling\": \"61.4\",\n    \"OST\": \"71.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"97\",\n    \"Favoris\": \"12.6\",\n    \"Total\": \"68.55\"\n  },\n  {\n    \"Titre\": \"Ookami Kodomo no Ame to Yuki\",\n    \"Animation\": \"74.9\",\n    \"Storytelling\": \"73.9\",\n    \"OST\": \"73.9\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"97.5\",\n    \"Favoris\": \"4.7\",\n    \"Total\": \"68.55\"\n  },\n  {\n    \"Titre\": \"Steins;Gate 0\",\n    \"Animation\": \"71.2\",\n    \"Storytelling\": \"72.8\",\n    \"OST\": \"72.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"97.9\",\n    \"Favoris\": \"5.1\",\n    \"Total\": \"68.51\"\n  },\n  {\n    \"Titre\": \"Cyberpunk: Edgerunners\",\n    \"Animation\": \"68.3\",\n    \"Storytelling\": \"70.1\",\n    \"OST\": \"70.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"98.2\",\n    \"Favoris\": \"13.8\",\n    \"Total\": \"68.49\"\n  },\n  {\n    \"Titre\": \"Haikyuu!! Karasuno Koukou vs. Shiratorizawa Gakuen Koukou\",\n    \"Animation\": \"74\",\n    \"Storytelling\": \"70.4\",\n    \"OST\": \"70.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"98.8\",\n    \"Favoris\": \"6.4\",\n    \"Total\": \"68.46\"\n  },\n  {\n    \"Titre\": \"Bocchi the Rock!\",\n    \"Animation\": \"69.1\",\n    \"Storytelling\": \"71.9\",\n    \"OST\": \"71.9\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"97.1\",\n    \"Favoris\": \"14.5\",\n    \"Total\": \"68.38\"\n  },\n  {\n    \"Titre\": \"Monogatari Series: Second Season\",\n    \"Animation\": \"75.7\",\n    \"Storytelling\": \"71.3\",\n    \"OST\": \"71.3\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"96.7\",\n    \"Favoris\": \"9.7\",\n    \"Total\": \"68.36\"\n  },\n  {\n    \"Titre\": \"Fruits Basket: The Final\",\n    \"Animation\": \"71.5\",\n    \"Storytelling\": \"72\",\n    \"OST\": \"72\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"95.6\",\n    \"Favoris\": \"8.5\",\n    \"Total\": \"68.32\"\n  },\n  {\n    \"Titre\": \"Hotaru no Haka\",\n    \"Animation\": \"84.4\",\n    \"Storytelling\": \"67.6\",\n    \"OST\": \"67.6\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"97\",\n    \"Favoris\": \"3.7\",\n    \"Total\": \"68.28\"\n  },\n  {\n    \"Titre\": \"Seishun Buta Yarou wa Yumemiru Shoujo no Yume wo Minai\",\n    \"Animation\": \"70.7\",\n    \"Storytelling\": \"72.9\",\n    \"OST\": \"72.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"97.3\",\n    \"Favoris\": \"4.5\",\n    \"Total\": \"68.26\"\n  },\n  {\n    \"Titre\": \"Kimi no Suizou wo Tabetai\",\n    \"Animation\": \"71.2\",\n    \"Storytelling\": \"69.7\",\n    \"OST\": \"69.7\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"98.4\",\n    \"Favoris\": \"9.3\",\n    \"Total\": \"68.15\"\n  },\n  {\n    \"Titre\": \"3-gatsu no Lion 2nd Season\",\n    \"Animation\": \"74.3\",\n    \"Storytelling\": \"72.1\",\n    \"OST\": \"72.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"94\",\n    \"Favoris\": \"6.2\",\n    \"Total\": \"68.11\"\n  },\n  {\n    \"Titre\": \"Saiki Kusuo no Ψ-nan 2\",\n    \"Animation\": \"70.2\",\n    \"Storytelling\": \"74.2\",\n    \"OST\": \"74.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"96.7\",\n    \"Favoris\": \"1.8\",\n    \"Total\": \"68.11\"\n  },\n  {\n    \"Titre\": \"Mononoke\",\n    \"Animation\": \"76.3\",\n    \"Storytelling\": \"72.9\",\n    \"OST\": \"72.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"92.5\",\n    \"Favoris\": \"3.7\",\n    \"Total\": \"68.02\"\n  },\n  {\n    \"Titre\": \"Mahou Shoujo Madoka★Magica Movie 3: Hangyaku no Monogatari\",\n    \"Animation\": \"73.9\",\n    \"Storytelling\": \"73\",\n    \"OST\": \"73\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"93.6\",\n    \"Favoris\": \"3.9\",\n    \"Total\": \"67.94\"\n  },\n  {\n    \"Titre\": \"Owarimonogatari 2nd Season\",\n    \"Animation\": \"74\",\n    \"Storytelling\": \"75\",\n    \"OST\": \"75\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"93.9\",\n    \"Favoris\": \"3.6\",\n    \"Total\": \"67.92\"\n  },\n  {\n    \"Titre\": \"Kizumonogatari III: Reiketsu-hen\",\n    \"Animation\": \"73.5\",\n    \"Storytelling\": \"72.4\",\n    \"OST\": \"72.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"95\",\n    \"Favoris\": \"3.3\",\n    \"Total\": \"67.86\"\n  },\n  {\n    \"Titre\": \"Gintama'\",\n    \"Animation\": \"78.6\",\n    \"Storytelling\": \"69.6\",\n    \"OST\": \"69.6\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"95.9\",\n    \"Favoris\": \"3.4\",\n    \"Total\": \"67.84\"\n  },\n  {\n    \"Titre\": \"Summertime Render\",\n    \"Animation\": \"67.2\",\n    \"Storytelling\": \"73.6\",\n    \"OST\": \"73.6\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"96.4\",\n    \"Favoris\": \"4.5\",\n    \"Total\": \"67.8\"\n  },\n  {\n    \"Titre\": \"Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen\",\n    \"Animation\": \"81.6\",\n    \"Storytelling\": \"71.5\",\n    \"OST\": \"71.5\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"90.5\",\n    \"Favoris\": \"2.6\",\n    \"Total\": \"67.76\"\n  },\n  {\n    \"Titre\": \"Kaguya-sama wa Kokurasetai: Ultra Romantic\",\n    \"Animation\": \"70.7\",\n    \"Storytelling\": \"71.3\",\n    \"OST\": \"71.3\",\n    \"Rythme\": \"70\",\n    \"Popularité\": \"98.4\",\n    \"Favoris\": \"13.2\",\n    \"Total\": \"67.72\"\n  },\n  {\n    \"Titre\": \"Kimetsu no Yaiba: Yuukaku-hen\",\n    \"Animation\": \"69.8\",\n    \"Storytelling\": \"70.1\",\n    \"OST\": \"70.1\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"99.3\",\n    \"Favoris\": \"10.1\",\n    \"Total\": \"67.63\"\n  },\n  {\n    \"Titre\": \"Kimetsu no Yaiba Movie: Mugen Ressha-hen\",\n    \"Animation\": \"69.6\",\n    \"Storytelling\": \"65.6\",\n    \"OST\": \"75.6\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"99.4\",\n    \"Favoris\": \"5.4\",\n    \"Total\": \"67.59\"\n  },\n  {\n    \"Titre\": \"Kono Subarashii Sekai ni Shukufuku wo! Movie: Kurenai Densetsu\",\n    \"Animation\": \"69.4\",\n    \"Storytelling\": \"74.2\",\n    \"OST\": \"74.2\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"97.6\",\n    \"Favoris\": \"2\",\n    \"Total\": \"67.45\"\n  },\n  {\n    \"Titre\": \"Steins;Gate Movie: Fuka Ryouiki no Déjà vu\",\n    \"Animation\": \"73.6\",\n    \"Storytelling\": \"71.4\",\n    \"OST\": \"71.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"96.2\",\n    \"Favoris\": \"1.1\",\n    \"Total\": \"67.44\"\n  },\n  {\n    \"Titre\": \"Jujutsu Kaisen 2nd Season\",\n    \"Animation\": \"67.9\",\n    \"Storytelling\": \"70.1\",\n    \"OST\": \"70.1\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"98.9\",\n    \"Favoris\": \"10.4\",\n    \"Total\": \"67.31\"\n  },\n  {\n    \"Titre\": \"Natsume Yuujinchou San\",\n    \"Animation\": \"75.4\",\n    \"Storytelling\": \"73.9\",\n    \"OST\": \"73.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"89.7\",\n    \"Favoris\": \"0.6\",\n    \"Total\": \"67.21\"\n  },\n  {\n    \"Titre\": \"[Oshi no Ko]\",\n    \"Animation\": \"66.7\",\n    \"Storytelling\": \"67.7\",\n    \"OST\": \"67.7\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"98.2\",\n    \"Favoris\": \"12.4\",\n    \"Total\": \"67.2\"\n  },\n  {\n    \"Titre\": \"Mushoku Tensei: Isekai Ittara Honki Dasu Part 2\",\n    \"Animation\": \"69.2\",\n    \"Storytelling\": \"68.3\",\n    \"OST\": \"68.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"98.4\",\n    \"Favoris\": \"7.7\",\n    \"Total\": \"67.12\"\n  },\n  {\n    \"Titre\": \"Kara no Kyoukai Movie 5: Mujun Rasen\",\n    \"Animation\": \"76.5\",\n    \"Storytelling\": \"73\",\n    \"OST\": \"73\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"89\",\n    \"Favoris\": \"1.9\",\n    \"Total\": \"67.11\"\n  },\n  {\n    \"Titre\": \"Kusuriya no Hitorigoto 2nd Season\",\n    \"Animation\": \"66.4\",\n    \"Storytelling\": \"73.6\",\n    \"OST\": \"73.6\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"94.6\",\n    \"Favoris\": \"3\",\n    \"Total\": \"67.09\"\n  },\n  {\n    \"Titre\": \"Zoku Natsume Yuujinchou\",\n    \"Animation\": \"76.2\",\n    \"Storytelling\": \"73.3\",\n    \"OST\": \"73.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"89.5\",\n    \"Favoris\": \"0.6\",\n    \"Total\": \"67.08\"\n  },\n  {\n    \"Titre\": \"Dungeon Meshi\",\n    \"Animation\": \"65.8\",\n    \"Storytelling\": \"72.3\",\n    \"OST\": \"72.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"95.7\",\n    \"Favoris\": \"4.9\",\n    \"Total\": \"67.05\"\n  },\n  {\n    \"Titre\": \"Natsume Yuujinchou Roku\",\n    \"Animation\": \"72.3\",\n    \"Storytelling\": \"76.4\",\n    \"OST\": \"76.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"86.5\",\n    \"Favoris\": \"0.5\",\n    \"Total\": \"66.96\"\n  },\n  {\n    \"Titre\": \"Vivy: Fluorite Eye's Song\",\n    \"Animation\": \"67.6\",\n    \"Storytelling\": \"71.1\",\n    \"OST\": \"71.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"95.9\",\n    \"Favoris\": \"4.6\",\n    \"Total\": \"66.89\"\n  },\n  {\n    \"Titre\": \"Tengen Toppa Gurren Lagann Movie 2: Lagann-hen\",\n    \"Animation\": \"76.8\",\n    \"Storytelling\": \"73.2\",\n    \"OST\": \"73.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"88.2\",\n    \"Favoris\": \"0.5\",\n    \"Total\": \"66.86\"\n  },\n  {\n    \"Titre\": \"Houseki no Kuni\",\n    \"Animation\": \"70.7\",\n    \"Storytelling\": \"69.4\",\n    \"OST\": \"69.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"95.1\",\n    \"Favoris\": \"6\",\n    \"Total\": \"66.82\"\n  },\n  {\n    \"Titre\": \"Kaze ga Tsuyoku Fuiteiru\",\n    \"Animation\": \"70\",\n    \"Storytelling\": \"73.1\",\n    \"OST\": \"73.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"91.7\",\n    \"Favoris\": \"2.6\",\n    \"Total\": \"66.81\"\n  },\n  {\n    \"Titre\": \"Mushishi Zoku Shou 2nd Season\",\n    \"Animation\": \"74.9\",\n    \"Storytelling\": \"72.3\",\n    \"OST\": \"72.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"90.5\",\n    \"Favoris\": \"0.6\",\n    \"Total\": \"66.73\"\n  },\n  {\n    \"Titre\": \"Bleach: Sennen Kessen-hen\",\n    \"Animation\": \"70.9\",\n    \"Storytelling\": \"62.6\",\n    \"OST\": \"72.6\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"96.5\",\n    \"Favoris\": \"9.2\",\n    \"Total\": \"66.72\"\n  },\n  {\n    \"Titre\": \"Bakuman. 3rd Season\",\n    \"Animation\": \"74.6\",\n    \"Storytelling\": \"72.9\",\n    \"OST\": \"72.9\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"92.2\",\n    \"Favoris\": \"1.2\",\n    \"Total\": \"66.58\"\n  },\n  {\n    \"Titre\": \"Ousama Ranking\",\n    \"Animation\": \"68.3\",\n    \"Storytelling\": \"68.8\",\n    \"OST\": \"68.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"96.9\",\n    \"Favoris\": \"5.5\",\n    \"Total\": \"66.53\"\n  },\n  {\n    \"Titre\": \"Fate/stay night Movie: Heaven's Feel - III. Spring Song\",\n    \"Animation\": \"70.2\",\n    \"Storytelling\": \"70.9\",\n    \"OST\": \"70.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"93.3\",\n    \"Favoris\": \"3.4\",\n    \"Total\": \"66.52\"\n  },\n  {\n    \"Titre\": \"Made in Abyss Movie 3: Fukaki Tamashii no Reimei\",\n    \"Animation\": \"70\",\n    \"Storytelling\": \"70.3\",\n    \"OST\": \"70.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"95.3\",\n    \"Favoris\": \"1.6\",\n    \"Total\": \"66.41\"\n  },\n  {\n    \"Titre\": \"Odd Taxi\",\n    \"Animation\": \"69.4\",\n    \"Storytelling\": \"69.8\",\n    \"OST\": \"69.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"95\",\n    \"Favoris\": \"3.7\",\n    \"Total\": \"66.4\"\n  },\n  {\n    \"Titre\": \"Aria the Origination\",\n    \"Animation\": \"76.3\",\n    \"Storytelling\": \"75.3\",\n    \"OST\": \"75.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"81.6\",\n    \"Favoris\": \"1.7\",\n    \"Total\": \"66.38\"\n  },\n  {\n    \"Titre\": \"Uchuu Kyoudai\",\n    \"Animation\": \"74.3\",\n    \"Storytelling\": \"72.9\",\n    \"OST\": \"72.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"86.8\",\n    \"Favoris\": \"1.6\",\n    \"Total\": \"66.26\"\n  },\n  {\n    \"Titre\": \"Dandadan\",\n    \"Animation\": \"64.7\",\n    \"Storytelling\": \"70.8\",\n    \"OST\": \"70.8\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"97.9\",\n    \"Favoris\": \"6.2\",\n    \"Total\": \"66.25\"\n  },\n  {\n    \"Titre\": \"Yuru Camp△ Season 2\",\n    \"Animation\": \"68.4\",\n    \"Storytelling\": \"74.1\",\n    \"OST\": \"74.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"89\",\n    \"Favoris\": \"1.3\",\n    \"Total\": \"66.19\"\n  },\n  {\n    \"Titre\": \"Koukaku Kidoutai: Stand Alone Complex 2nd GIG\",\n    \"Animation\": \"78.3\",\n    \"Storytelling\": \"70.1\",\n    \"OST\": \"70.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"88.3\",\n    \"Favoris\": \"1.3\",\n    \"Total\": \"66.13\"\n  },\n  {\n    \"Titre\": \"Gintama: The Final\",\n    \"Animation\": \"72.3\",\n    \"Storytelling\": \"69.9\",\n    \"OST\": \"79.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"84.9\",\n    \"Favoris\": \"1.9\",\n    \"Total\": \"66.08\"\n  },\n  {\n    \"Titre\": \"Natsume Yuujinchou Shi\",\n    \"Animation\": \"75.4\",\n    \"Storytelling\": \"70.7\",\n    \"OST\": \"70.7\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"89.4\",\n    \"Favoris\": \"0.8\",\n    \"Total\": \"66.06\"\n  },\n  {\n    \"Titre\": \"Gintama Movie 1: Shinyaku Benizakura-hen\",\n    \"Animation\": \"75.6\",\n    \"Storytelling\": \"73.5\",\n    \"OST\": \"73.5\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"84.5\",\n    \"Favoris\": \"0.3\",\n    \"Total\": \"66.01\"\n  },\n  {\n    \"Titre\": \"Bungou Stray Dogs 5th Season\",\n    \"Animation\": \"67.1\",\n    \"Storytelling\": \"74.1\",\n    \"OST\": \"74.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"89.1\",\n    \"Favoris\": \"1.2\",\n    \"Total\": \"66\"\n  },\n  {\n    \"Titre\": \"Golden Kamuy 3rd Season\",\n    \"Animation\": \"68.8\",\n    \"Storytelling\": \"75.4\",\n    \"OST\": \"75.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"86\",\n    \"Favoris\": \"0.6\",\n    \"Total\": \"66\"\n  },\n  {\n    \"Titre\": \"Sayonara no Asa ni Yakusoku no Hana wo Kazarou\",\n    \"Animation\": \"70.1\",\n    \"Storytelling\": \"70.7\",\n    \"OST\": \"70.7\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"94.8\",\n    \"Favoris\": \"3.4\",\n    \"Total\": \"65.98\"\n  },\n  {\n    \"Titre\": \"Gintama Movie 2: Kanketsu-hen - Yorozuya yo Eien Nare\",\n    \"Animation\": \"76.7\",\n    \"Storytelling\": \"72\",\n    \"OST\": \"72\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"89.3\",\n    \"Favoris\": \"0.9\",\n    \"Total\": \"65.95\"\n  },\n  {\n    \"Titre\": \"Gintama. Shirogane no Tamashii-hen\",\n    \"Animation\": \"73\",\n    \"Storytelling\": \"72.1\",\n    \"OST\": \"72.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"88.1\",\n    \"Favoris\": \"0.5\",\n    \"Total\": \"65.88\"\n  },\n  {\n    \"Titre\": \"Kizumonogatari II: Nekketsu-hen\",\n    \"Animation\": \"72.6\",\n    \"Storytelling\": \"70.4\",\n    \"OST\": \"70.4\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"94.7\",\n    \"Favoris\": \"1\",\n    \"Total\": \"65.87\"\n  },\n  {\n    \"Titre\": \"Shin Evangelion Movie:||\",\n    \"Animation\": \"69\",\n    \"Storytelling\": \"69\",\n    \"OST\": \"69\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"93.7\",\n    \"Favoris\": \"3.3\",\n    \"Total\": \"65.74\"\n  },\n  {\n    \"Titre\": \"Gintama. Shirogane no Tamashii-hen - Kouhan-sen\",\n    \"Animation\": \"73.5\",\n    \"Storytelling\": \"71.8\",\n    \"OST\": \"71.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"87.6\",\n    \"Favoris\": \"0.4\",\n    \"Total\": \"65.73\"\n  },\n  {\n    \"Titre\": \"Haikyuu!! To the Top Part 2\",\n    \"Animation\": \"69.7\",\n    \"Storytelling\": \"68.8\",\n    \"OST\": \"68.8\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"97.8\",\n    \"Favoris\": \"2.6\",\n    \"Total\": \"65.73\"\n  },\n  {\n    \"Titre\": \"Rainbow: Nisha Rokubou no Shichinin\",\n    \"Animation\": \"75.2\",\n    \"Storytelling\": \"66.2\",\n    \"OST\": \"66.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"93.7\",\n    \"Favoris\": \"3.5\",\n    \"Total\": \"65.72\"\n  },\n  {\n    \"Titre\": \"Vinland Saga Season 2\",\n    \"Animation\": \"68.7\",\n    \"Storytelling\": \"66.9\",\n    \"OST\": \"66.9\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"97.4\",\n    \"Favoris\": \"8.1\",\n    \"Total\": \"65.67\"\n  },\n  {\n    \"Titre\": \"Mahou Shoujo Madoka★Magica Movie 2: Eien no Monogatari\",\n    \"Animation\": \"73.6\",\n    \"Storytelling\": \"73.6\",\n    \"OST\": \"73.6\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"87.3\",\n    \"Favoris\": \"0.4\",\n    \"Total\": \"65.57\"\n  },\n  {\n    \"Titre\": \"Bungou Stray Dogs 4th Season\",\n    \"Animation\": \"65.9\",\n    \"Storytelling\": \"71.4\",\n    \"OST\": \"71.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"92.4\",\n    \"Favoris\": \"1.4\",\n    \"Total\": \"65.56\"\n  },\n  {\n    \"Titre\": \"Slam Dunk\",\n    \"Animation\": \"82.8\",\n    \"Storytelling\": \"61.2\",\n    \"OST\": \"71.2\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"91.8\",\n    \"Favoris\": \"3.2\",\n    \"Total\": \"65.43\"\n  },\n  {\n    \"Titre\": \"Kamisama Hajimemashita: Kako-hen\",\n    \"Animation\": \"72.1\",\n    \"Storytelling\": \"72.9\",\n    \"OST\": \"72.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"85.1\",\n    \"Favoris\": \"0.4\",\n    \"Total\": \"65.41\"\n  },\n  {\n    \"Titre\": \"Tu Bian Yingxiong X\",\n    \"Animation\": \"64.8\",\n    \"Storytelling\": \"73.3\",\n    \"OST\": \"73.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"88.2\",\n    \"Favoris\": \"2\",\n    \"Total\": \"65.31\"\n  },\n  {\n    \"Titre\": \"Josee to Tora to Sakana-tachi\",\n    \"Animation\": \"68.5\",\n    \"Storytelling\": \"71.4\",\n    \"OST\": \"71.4\",\n    \"Rythme\": \"70\",\n    \"Popularité\": \"95.2\",\n    \"Favoris\": \"2.9\",\n    \"Total\": \"65.24\"\n  },\n  {\n    \"Titre\": \"Kaoru Hana wa Rin to Saku\",\n    \"Animation\": \"63.8\",\n    \"Storytelling\": \"69.5\",\n    \"OST\": \"69.5\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"93.8\",\n    \"Favoris\": \"3.3\",\n    \"Total\": \"65.15\"\n  },\n  {\n    \"Titre\": \"One Piece Fan Letter\",\n    \"Animation\": \"68.8\",\n    \"Storytelling\": \"74.9\",\n    \"OST\": \"74.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"82.2\",\n    \"Favoris\": \"1\",\n    \"Total\": \"65.13\"\n  },\n  {\n    \"Titre\": \"Chi. Chikyuu no Undou ni Tsuite\",\n    \"Animation\": \"66.6\",\n    \"Storytelling\": \"70.3\",\n    \"OST\": \"70.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"90.1\",\n    \"Favoris\": \"2.8\",\n    \"Total\": \"65.03\"\n  },\n  {\n    \"Titre\": \"Chihayafuru 3\",\n    \"Animation\": \"69.8\",\n    \"Storytelling\": \"73.8\",\n    \"OST\": \"73.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"83\",\n    \"Favoris\": \"0.7\",\n    \"Total\": \"65.01\"\n  },\n  {\n    \"Titre\": \"Look Back\",\n    \"Animation\": \"66\",\n    \"Storytelling\": \"71.9\",\n    \"OST\": \"71.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"87.9\",\n    \"Favoris\": \"1.9\",\n    \"Total\": \"64.93\"\n  },\n  {\n    \"Titre\": \"Saenai Heroine no Sodatekata Fine\",\n    \"Animation\": \"69.5\",\n    \"Storytelling\": \"71.6\",\n    \"OST\": \"71.6\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"86.4\",\n    \"Favoris\": \"1.1\",\n    \"Total\": \"64.93\"\n  },\n  {\n    \"Titre\": \"Shingeki no Kyojin Movie: Kanketsu-hen - The Last Attack\",\n    \"Animation\": \"67.5\",\n    \"Storytelling\": \"80.1\",\n    \"OST\": \"80.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"73.1\",\n    \"Favoris\": \"0.2\",\n    \"Total\": \"64.81\"\n  },\n  {\n    \"Titre\": \"Ore dake Level Up na Ken Season 2: Arise from the Shadow\",\n    \"Animation\": \"63.9\",\n    \"Storytelling\": \"66.1\",\n    \"OST\": \"66.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"97\",\n    \"Favoris\": \"4.5\",\n    \"Total\": \"64.8\"\n  },\n  {\n    \"Titre\": \"Shiguang Dailiren\",\n    \"Animation\": \"69.9\",\n    \"Storytelling\": \"59.8\",\n    \"OST\": \"69.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"94.6\",\n    \"Favoris\": \"5.9\",\n    \"Total\": \"64.72\"\n  },\n  {\n    \"Titre\": \"Karakai Jouzu no Takagi-san Movie\",\n    \"Animation\": \"66.9\",\n    \"Storytelling\": \"78.5\",\n    \"OST\": \"78.5\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"75.5\",\n    \"Favoris\": \"0.3\",\n    \"Total\": \"64.66\"\n  },\n  {\n    \"Titre\": \"Kono Oto Tomare! Part 2\",\n    \"Animation\": \"69.5\",\n    \"Storytelling\": \"73\",\n    \"OST\": \"73\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"86.3\",\n    \"Favoris\": \"0.7\",\n    \"Total\": \"64.59\"\n  },\n  {\n    \"Titre\": \"Re:Zero kara Hajimeru Isekai Seikatsu 3rd Season\",\n    \"Animation\": \"64.7\",\n    \"Storytelling\": \"69.3\",\n    \"OST\": \"69.3\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"94.7\",\n    \"Favoris\": \"2.6\",\n    \"Total\": \"64.54\"\n  },\n  {\n    \"Titre\": \"Chainsaw Man Movie: Reze-hen\",\n    \"Animation\": \"67.6\",\n    \"Storytelling\": \"61.1\",\n    \"OST\": \"71.1\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"93.7\",\n    \"Favoris\": \"4.9\",\n    \"Total\": \"64.5\"\n  },\n  {\n    \"Titre\": \"Mushoku Tensei II: Isekai Ittara Honki Dasu Part 2\",\n    \"Animation\": \"64.4\",\n    \"Storytelling\": \"68.8\",\n    \"OST\": \"68.8\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"95.6\",\n    \"Favoris\": \"1.8\",\n    \"Total\": \"64.38\"\n  },\n  {\n    \"Titre\": \"Zoku Owarimonogatari\",\n    \"Animation\": \"69.7\",\n    \"Storytelling\": \"70.8\",\n    \"OST\": \"70.8\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"88.9\",\n    \"Favoris\": \"0.4\",\n    \"Total\": \"64.33\"\n  },\n  {\n    \"Titre\": \"Cross Game\",\n    \"Animation\": \"75.1\",\n    \"Storytelling\": \"72.5\",\n    \"OST\": \"72.5\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"80.6\",\n    \"Favoris\": \"1.2\",\n    \"Total\": \"64.19\"\n  },\n  {\n    \"Titre\": \"Tian Guan Cifu\",\n    \"Animation\": \"68.7\",\n    \"Storytelling\": \"70.3\",\n    \"OST\": \"70.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"84.4\",\n    \"Favoris\": \"2.5\",\n    \"Total\": \"64.17\"\n  },\n  {\n    \"Titre\": \"Grand Blue Season 2\",\n    \"Animation\": \"63.5\",\n    \"Storytelling\": \"72.6\",\n    \"OST\": \"72.6\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"85.6\",\n    \"Favoris\": \"0.5\",\n    \"Total\": \"64.13\"\n  },\n  {\n    \"Titre\": \"Pluto\",\n    \"Animation\": \"66\",\n    \"Storytelling\": \"71.4\",\n    \"OST\": \"71.4\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"88.6\",\n    \"Favoris\": \"1.3\",\n    \"Total\": \"64.05\"\n  },\n  {\n    \"Titre\": \"Dr. Stone: Science Future Part 2\",\n    \"Animation\": \"63.6\",\n    \"Storytelling\": \"71.6\",\n    \"OST\": \"71.6\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"86.8\",\n    \"Favoris\": \"0.3\",\n    \"Total\": \"64\"\n  },\n  {\n    \"Titre\": \"Shouwa Genroku Rakugo Shinjuu: Sukeroku Futatabi-hen\",\n    \"Animation\": \"72.9\",\n    \"Storytelling\": \"71.7\",\n    \"OST\": \"71.7\",\n    \"Rythme\": \"70\",\n    \"Popularité\": \"86.3\",\n    \"Favoris\": \"1.3\",\n    \"Total\": \"63.99\"\n  },\n  {\n    \"Titre\": \"Guimi Zhi Zhu: Xiaochou Pian\",\n    \"Animation\": \"64.3\",\n    \"Storytelling\": \"71\",\n    \"OST\": \"71\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"85.8\",\n    \"Favoris\": \"1.6\",\n    \"Total\": \"63.9\"\n  },\n  {\n    \"Titre\": \"Wu Liuqi: Xuanwu Guo Pian\",\n    \"Animation\": \"67.8\",\n    \"Storytelling\": \"78.7\",\n    \"OST\": \"78.7\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"73.6\",\n    \"Favoris\": \"0.4\",\n    \"Total\": \"63.75\"\n  },\n  {\n    \"Titre\": \"Natsume Yuujinchou Go\",\n    \"Animation\": \"72.6\",\n    \"Storytelling\": \"62.7\",\n    \"OST\": \"72.7\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"86.5\",\n    \"Favoris\": \"0.4\",\n    \"Total\": \"63.7\"\n  },\n  {\n    \"Titre\": \"Shiguang Dailiren II\",\n    \"Animation\": \"67.3\",\n    \"Storytelling\": \"72.1\",\n    \"OST\": \"72.1\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"83.9\",\n    \"Favoris\": \"0.9\",\n    \"Total\": \"63.49\"\n  },\n  {\n    \"Titre\": \"Boku no Kokoro no Yabai Yatsu 2nd Season\",\n    \"Animation\": \"66.6\",\n    \"Storytelling\": \"63\",\n    \"OST\": \"73\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"90.8\",\n    \"Favoris\": \"2.4\",\n    \"Total\": \"63.31\"\n  },\n  {\n    \"Titre\": \"Gintama.\",\n    \"Animation\": \"74.9\",\n    \"Storytelling\": \"67.7\",\n    \"OST\": \"67.7\",\n    \"Rythme\": \"65\",\n    \"Popularité\": \"92.1\",\n    \"Favoris\": \"1.1\",\n    \"Total\": \"63.26\"\n  },\n  {\n    \"Titre\": \"Kingdom 3rd Season\",\n    \"Animation\": \"71.7\",\n    \"Storytelling\": \"64.9\",\n    \"OST\": \"74.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"80.5\",\n    \"Favoris\": \"1.1\",\n    \"Total\": \"63.24\"\n  },\n  {\n    \"Titre\": \"Takopii no Genzai\",\n    \"Animation\": \"65.3\",\n    \"Storytelling\": \"67.5\",\n    \"OST\": \"67.5\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"90.7\",\n    \"Favoris\": \"2.5\",\n    \"Total\": \"63.19\"\n  },\n  {\n    \"Titre\": \"Ashita no Joe 2\",\n    \"Animation\": \"88.7\",\n    \"Storytelling\": \"72.1\",\n    \"OST\": \"72.1\",\n    \"Rythme\": \"70\",\n    \"Popularité\": \"69.6\",\n    \"Favoris\": \"1.3\",\n    \"Total\": \"63.16\"\n  },\n  {\n    \"Titre\": \"Kingdom 5th Season\",\n    \"Animation\": \"66.8\",\n    \"Storytelling\": \"78.4\",\n    \"OST\": \"78.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"68.2\",\n    \"Favoris\": \"0.2\",\n    \"Total\": \"63.13\"\n  },\n  {\n    \"Titre\": \"Boku no Hero Academia: Final Season\",\n    \"Animation\": \"65\",\n    \"Storytelling\": \"69.8\",\n    \"OST\": \"69.8\",\n    \"Rythme\": \"70\",\n    \"Popularité\": \"90.2\",\n    \"Favoris\": \"1.1\",\n    \"Total\": \"62.88\"\n  },\n  {\n    \"Titre\": \"Haikyuu!! Movie: Gomisuteba no Kessen\",\n    \"Animation\": \"65.9\",\n    \"Storytelling\": \"62.5\",\n    \"OST\": \"72.5\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"87.4\",\n    \"Favoris\": \"0.7\",\n    \"Total\": \"62.84\"\n  },\n  {\n    \"Titre\": \"Natsume Yuujinchou Movie: Utsusemi ni Musubu\",\n    \"Animation\": \"70.3\",\n    \"Storytelling\": \"72.4\",\n    \"OST\": \"72.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"73.5\",\n    \"Favoris\": \"0.1\",\n    \"Total\": \"62.6\"\n  },\n  {\n    \"Titre\": \"Kimetsu no Yaiba Movie 1: Mugenjou-hen - Akaza Sairai\",\n    \"Animation\": \"64.7\",\n    \"Storytelling\": \"58.9\",\n    \"OST\": \"68.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"92.3\",\n    \"Favoris\": \"1.3\",\n    \"Total\": \"62.48\"\n  },\n  {\n    \"Titre\": \"Kimi ni Todoke 3rd Season\",\n    \"Animation\": \"64.7\",\n    \"Storytelling\": \"74\",\n    \"OST\": \"74\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"77.9\",\n    \"Favoris\": \"0.3\",\n    \"Total\": \"62.48\"\n  },\n  {\n    \"Titre\": \"Gintama. Porori-hen\",\n    \"Animation\": \"71.6\",\n    \"Storytelling\": \"61.2\",\n    \"OST\": \"71.2\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"87.4\",\n    \"Favoris\": \"0.4\",\n    \"Total\": \"62.45\"\n  },\n  {\n    \"Titre\": \"Mo Dao Zu Shi: Wanjie Pian\",\n    \"Animation\": \"69.6\",\n    \"Storytelling\": \"70.5\",\n    \"OST\": \"70.5\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"75.7\",\n    \"Favoris\": \"0.7\",\n    \"Total\": \"62.36\"\n  },\n  {\n    \"Titre\": \"The First Slam Dunk\",\n    \"Animation\": \"69\",\n    \"Storytelling\": \"71.9\",\n    \"OST\": \"71.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"71.8\",\n    \"Favoris\": \"0.4\",\n    \"Total\": \"61.94\"\n  },\n  {\n    \"Titre\": \"Natsume Yuujinchou Shichi\",\n    \"Animation\": \"65.7\",\n    \"Storytelling\": \"75.3\",\n    \"OST\": \"75.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"67.1\",\n    \"Favoris\": \"0.2\",\n    \"Total\": \"61.66\"\n  },\n  {\n    \"Titre\": \"Major S5\",\n    \"Animation\": \"75.2\",\n    \"Storytelling\": \"69.9\",\n    \"OST\": \"69.9\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"71.8\",\n    \"Favoris\": \"0.3\",\n    \"Total\": \"61.4\"\n  },\n  {\n    \"Titre\": \"Uma Musume: Cinderella Gray Part 2\",\n    \"Animation\": \"64.7\",\n    \"Storytelling\": \"74.2\",\n    \"OST\": \"74.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"67.4\",\n    \"Favoris\": \"0.2\",\n    \"Total\": \"61.19\"\n  },\n  {\n    \"Titre\": \"Tian Guan Cifu Special\",\n    \"Animation\": \"68.3\",\n    \"Storytelling\": \"67.4\",\n    \"OST\": \"77.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"68\",\n    \"Favoris\": \"0.2\",\n    \"Total\": \"60.97\"\n  },\n  {\n    \"Titre\": \"Chou Kaguya-hime!\",\n    \"Animation\": \"59.5\",\n    \"Storytelling\": \"73.4\",\n    \"OST\": \"73.4\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"70.6\",\n    \"Favoris\": \"0.6\",\n    \"Total\": \"60.83\"\n  },\n  {\n    \"Titre\": \"Made in Abyss Movie 2: Hourou Suru Tasogare\",\n    \"Animation\": \"69.3\",\n    \"Storytelling\": \"63\",\n    \"OST\": \"63\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"83.5\",\n    \"Favoris\": \"0.1\",\n    \"Total\": \"60.41\"\n  },\n  {\n    \"Titre\": \"Kingdom 4th Season\",\n    \"Animation\": \"69.1\",\n    \"Storytelling\": \"70\",\n    \"OST\": \"60\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"74.6\",\n    \"Favoris\": \"0.5\",\n    \"Total\": \"60.36\"\n  },\n  {\n    \"Titre\": \"Natsume Yuujinchou Roku Specials\",\n    \"Animation\": \"70.8\",\n    \"Storytelling\": \"73.9\",\n    \"OST\": \"63.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"65.8\",\n    \"Favoris\": \"0\",\n    \"Total\": \"60.14\"\n  },\n  {\n    \"Titre\": \"Hibike! Euphonium 3\",\n    \"Animation\": \"66.7\",\n    \"Storytelling\": \"62.3\",\n    \"OST\": \"72.3\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"75.8\",\n    \"Favoris\": \"0.8\",\n    \"Total\": \"59.84\"\n  },\n  {\n    \"Titre\": \"Tian Guan Cifu Er\",\n    \"Animation\": \"67.4\",\n    \"Storytelling\": \"63.7\",\n    \"OST\": \"73.7\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"68.8\",\n    \"Favoris\": \"0.5\",\n    \"Total\": \"59.74\"\n  },\n  {\n    \"Titre\": \"Blue Giant\",\n    \"Animation\": \"65.7\",\n    \"Storytelling\": \"71.2\",\n    \"OST\": \"71.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"63.5\",\n    \"Favoris\": \"0.2\",\n    \"Total\": \"59.51\"\n  },\n  {\n    \"Titre\": \"Kingdom 6th Season\",\n    \"Animation\": \"64.8\",\n    \"Storytelling\": \"74.3\",\n    \"OST\": \"74.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"57.8\",\n    \"Favoris\": \"0.2\",\n    \"Total\": \"59.31\"\n  },\n  {\n    \"Titre\": \"Yuru Camp△ Movie\",\n    \"Animation\": \"66.7\",\n    \"Storytelling\": \"62.1\",\n    \"OST\": \"72.1\",\n    \"Rythme\": \"70\",\n    \"Popularité\": \"75.4\",\n    \"Favoris\": \"0.2\",\n    \"Total\": \"58.85\"\n  },\n  {\n    \"Titre\": \"Road of Naruto\",\n    \"Animation\": \"66.7\",\n    \"Storytelling\": \"72.3\",\n    \"OST\": \"72.3\",\n    \"Rythme\": \"75\",\n    \"Popularité\": \"59.2\",\n    \"Favoris\": \"0\",\n    \"Total\": \"58.4\"\n  },\n  {\n    \"Titre\": \"Prism Rondo\",\n    \"Animation\": \"59.7\",\n    \"Storytelling\": \"70.2\",\n    \"OST\": \"70.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"62.4\",\n    \"Favoris\": \"0.3\",\n    \"Total\": \"58.05\"\n  },\n  {\n    \"Titre\": \"Shoujo☆Kageki Revue Starlight Movie\",\n    \"Animation\": \"68.5\",\n    \"Storytelling\": \"72.8\",\n    \"OST\": \"72.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"50.9\",\n    \"Favoris\": \"0.4\",\n    \"Total\": \"58\"\n  },\n  {\n    \"Titre\": \"[Oshi no Ko] 3rd Season\",\n    \"Animation\": \"60.2\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"87.3\",\n    \"Favoris\": \"0.5\",\n    \"Total\": \"57.82\"\n  },\n  {\n    \"Titre\": \"Fate/strange Fake\",\n    \"Animation\": \"59.5\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"81.7\",\n    \"Favoris\": \"0.3\",\n    \"Total\": \"56.56\"\n  },\n  {\n    \"Titre\": \"Given Movie 3: Umi e\",\n    \"Animation\": \"65.1\",\n    \"Storytelling\": \"63.8\",\n    \"OST\": \"73.8\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"53.5\",\n    \"Favoris\": \"0.1\",\n    \"Total\": \"56.31\"\n  },\n  {\n    \"Titre\": \"Idol\",\n    \"Animation\": \"67.8\",\n    \"Storytelling\": \"62.3\",\n    \"OST\": \"72.3\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"52.2\",\n    \"Favoris\": \"0.1\",\n    \"Total\": \"55.93\"\n  },\n  {\n    \"Titre\": \"Ramayana: The Legend of Prince Rama\",\n    \"Animation\": \"81.7\",\n    \"Storytelling\": \"62.2\",\n    \"OST\": \"72.2\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"39.3\",\n    \"Favoris\": \"0.1\",\n    \"Total\": \"55.4\"\n  },\n  {\n    \"Titre\": \"Alien Stage\",\n    \"Animation\": \"68.3\",\n    \"Storytelling\": \"71\",\n    \"OST\": \"71\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"39.8\",\n    \"Favoris\": \"0.3\",\n    \"Total\": \"55.1\"\n  },\n  {\n    \"Titre\": \"Ikoku Nikki\",\n    \"Animation\": \"60.9\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"72.5\",\n    \"Favoris\": \"0.3\",\n    \"Total\": \"54.93\"\n  },\n  {\n    \"Titre\": \"Golden Kamuy: Saishuushou\",\n    \"Animation\": \"58.7\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"65\",\n    \"Favoris\": \"0.1\",\n    \"Total\": \"53.07\"\n  },\n  {\n    \"Titre\": \"Doupo Cangqiong: San Nian Zhi Yue\",\n    \"Animation\": \"68.6\",\n    \"Storytelling\": \"72\",\n    \"OST\": \"72\",\n    \"Rythme\": \"70\",\n    \"Popularité\": \"32.1\",\n    \"Favoris\": \"0.1\",\n    \"Total\": \"52.42\"\n  },\n  {\n    \"Titre\": \"Nezha Zhi Mo Tong Nao Hai\",\n    \"Animation\": \"63.4\",\n    \"Storytelling\": \"70.7\",\n    \"OST\": \"70.7\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"29.3\",\n    \"Favoris\": \"0\",\n    \"Total\": \"52.11\"\n  },\n  {\n    \"Titre\": \"Medalist 2nd Season\",\n    \"Animation\": \"59.4\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"55.8\",\n    \"Favoris\": \"0\",\n    \"Total\": \"51.32\"\n  },\n  {\n    \"Titre\": \"Luo Xiaohei Zhanji 2\",\n    \"Animation\": \"64.3\",\n    \"Storytelling\": \"63.9\",\n    \"OST\": \"73.9\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"24\",\n    \"Favoris\": \"0\",\n    \"Total\": \"50.31\"\n  },\n  {\n    \"Titre\": \"Chiikawa\",\n    \"Animation\": \"67.9\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"43.8\",\n    \"Favoris\": \"0.2\",\n    \"Total\": \"50.23\"\n  },\n  {\n    \"Titre\": \"Xian Ni\",\n    \"Animation\": \"66.2\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"29.7\",\n    \"Favoris\": \"0.1\",\n    \"Total\": \"47.13\"\n  },\n  {\n    \"Titre\": \"Tian Guan Cifu Short Films\",\n    \"Animation\": \"63.4\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"30.4\",\n    \"Favoris\": \"0.1\",\n    \"Total\": \"46.85\"\n  },\n  {\n    \"Titre\": \"Tunshi Xingkong 4th Season\",\n    \"Animation\": \"65.5\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"10.2\",\n    \"Favoris\": \"0.1\",\n    \"Total\": \"43.13\"\n  },\n  {\n    \"Titre\": \"Tunshi Xingkong 3rd Season\",\n    \"Animation\": \"66.6\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"5.4\",\n    \"Favoris\": \"0\",\n    \"Total\": \"42.32\"\n  },\n  {\n    \"Titre\": \"Fanren Xiu Xian Zhuan 4th Season\",\n    \"Animation\": \"63.9\",\n    \"Storytelling\": \"55\",\n    \"OST\": \"55\",\n    \"Rythme\": \"80\",\n    \"Popularité\": \"0\",\n    \"Favoris\": \"0\",\n    \"Total\": \"40.84\"\n  }\n];\n\nreturn list_anime;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "d07160da-2e62-4683-b52e-f89a9b9466f3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1483760986199687168",
          "mode": "list",
          "cachedResultName": "FEURLAND",
          "cachedResultUrl": "https://discord.com/channels/1483760986199687168"
        },
        "channelId": {
          "__rl": true,
          "value": "1484106463440928898",
          "mode": "list",
          "cachedResultName": "test-api",
          "cachedResultUrl": "https://discord.com/channels/1483760986199687168/1484106463440928898"
        },
        "content": "=L'anime {{ $json.Titre }} a une note de {{ $json.Total }}/100 !",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        848,
        0
      ],
      "id": "de812543-9ea6-4284-b744-e3aa38bc5c07",
      "name": "Send a message",
      "webhookId": "a169450b-5be9-435b-bb74-f0f3e2095ce5",
      "credentials": {
        "discordBotApi": {
          "id": "POzELQOPR6MXKAQ1",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1bd90093-43f2-4228-b422-42d4cbb043ce",
              "leftValue": "={{ $json.Titre }}",
              "rightValue": "={{ $('Discord Trigger').item.json.content.match(/^\\/anime\\s+(.+)/i)?.[1].toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        640,
        0
      ],
      "id": "da220539-784a-4779-b3e5-cca2cab3131e",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5295101f-9bb4-4574-9346-bb74447bea06",
              "name": "Titre",
              "value": "={{ $json.Titre.toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "c81cc5cc-3458-49e6-ab29-58aace60a68f",
              "name": "Total",
              "value": "={{ $json.Total }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "ad24bfa1-6d2b-4365-be28-6b71a67e954f",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Discord Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01327da543409dc660f81eb7510e47caf6603f37a5efe39646053254aa8ff87e"
  }
}
